* {
    margin: 0%;
    padding: 0%;
    transition: 0.50s;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f0f6;
}

.PerguntaUm {
    background-color: #2b4162;
    height: 14.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PerguntaUm p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    opacity: 0;
}

.PerguntaUm:hover {
    height: 20em;
}

.PerguntaUm:hover h3 {
    transform: scale(1.1);
}

.PerguntaUm:hover p {
    transform: scale(1.1);
    opacity: 1;
}

.PerguntaDois {
    background-color: #32506a;
    height: 14.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.PerguntaDois p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    padding-top: 2em;
    opacity: 0;
}

.PerguntaDois:hover {
    height: 20em;
}

.PerguntaDois:hover h3 {
    transform: scale(1.1);
}

.PerguntaDois:hover p {
    transform: scale(1.1);
    opacity: 1;
}

.PerguntaTres {
    background-color: #385f71;
    height: 14.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.PerguntaTres p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    padding-top: 2em;
    opacity: 0;
}

.PerguntaTres:hover {
    height: 20em;
}

.PerguntaTres:hover h3 {
    transform: scale(1.1);
}

.PerguntaTres:hover p {
    transform: scale(1.1);
    opacity: 1;
}